---
layout: default
title : A Rose Cast Archive
group: navigation
---

<section id="content">
  <div class="col-md-7">

    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
      <header class="post-header">
        <h1 class="post-title">{{ page.title }}</h1>
      </header>

      <div class="post-content" itemprop="articleBody">
        {% for post in site.posts  %}
          {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
          {% capture this_month %}{{ post.date | date: "%B" }}{% endcapture %}
          {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}
          {% capture next_month %}{{ post.previous.date | date: "%B" }}{% endcapture %}

          {% if forloop.first %}
            <h2>{{this_year}}</h2>
          {% endif %}

            <div class="col-md-4 col-sm-4 col-xs-4 archive">
              <div class="thumbnail">
                <a href="{{ post.url }}"><img src="{{ post.image }}" alt="{{post.alt}}"></a>
                <div class="caption">
                  <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
                </div>
              </div>
            </div>

          {% if forloop.last %}
          {% else %}
            {% if this_year != next_year %}
              <h2 class="clear">{{next_year}}</h2>
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>

    </article>

  </div>
</section><!-- content -->

{% include rightaside.html %}
