<footer>
  <div class="row">
    <div class="col-md-8">
      <p class="tags">
        <strong>Tags</strong> // 
        {% unless page.tags == empty %}
            {% for tag in page.tags %}
              <a href="/tag/{{ tag }}"><span class="label label-default">{{ tag }}</span></a>
            {% endfor %}
        {% endunless %}
      </p>
    </div>
    <div class="col-md-4">
      <p class="comments">
        <span>33</span> <strong>Comments</strong>
      </p>
    </div>
  </div>
</footer>
