<section id="content">
  <article>
    <div class="col-md-10">

      <div class="row">

        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="thumbnail">
            <a href="/project/"><img src="/assets/folio/folio.jpg"></a>
            <div class="caption">
              <h2><a href="/project/">Identity &amp; Branding</a></h2>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="thumbnail">
            <a href="/project/"><img src="/assets/folio/folio.jpg"></a>
            <div class="caption">
              <h2><a href="/project/">Portraits</a></h2>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="thumbnail">
            <a href="/project/"><img src="/assets/folio/folio.jpg"></a>
            <div class="caption">
              <h2><a href="/project/">Murakami Book Illustrations</a></h2>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="thumbnail">
            <a href="/project/"><img src="/assets/folio/folio.jpg"></a>
            <div class="caption">
              <h2><a href="/project/">Jewellery</a></h2>
            </div>
          </div>
        </div>

      </div><!-- row -->


      <div class="row">

        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="thumbnail">
            <a href="/project/"><img src="/assets/folio/folio.jpg"></a>
            <div class="caption">
              <h2><a href="/project/">Editorial Illustration</a></h2>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="thumbnail">
            <a href="/project/"><img src="/assets/folio/folio.jpg"></a>
            <div class="caption">
              <h2><a href="/project/">Promotional Illustration</a></h2>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="thumbnail">
            <a href="/project/"><img src="/assets/folio/folio.jpg"></a>
            <div class="caption">
              <h2><a href="/project/">Photography // New York</a></h2>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="thumbnail">
            <a href="/project/"><img src="/assets/folio/folio.jpg"></a>
            <div class="caption">
              <h2><a href="/project/">Photography // Japan</a></h2>
            </div>
          </div>
        </div>

      </div><!-- row -->

      <div class="row">

        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="thumbnail">
            <a href="/project/"><img src="/assets/folio/folio.jpg"></a>
            <div class="caption">
              <h2><a href="/project/">Fan Art Illustration</a></h2>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="thumbnail">
            <a href="/project/"><img src="/assets/folio/folio.jpg"></a>
            <div class="caption">
              <h2><a href="/project/">Shop Front / Home Illustration</a></h2>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="thumbnail">
            <a href="/project/"><img src="/assets/folio/folio.jpg"></a>
            <div class="caption">
              <h2><a href="/project/">Photography // N. Ireland</a></h2>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="thumbnail">
            <a href="/project/"><img src="/assets/folio/folio.jpg"></a>
            <div class="caption">
              <h2><a href="/project/">Photography // Japan</a></h2>
            </div>
          </div>
        </div>

      </div><!-- row -->

      <div class="row">

        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="thumbnail">
            <a href="/project/"><img src="/assets/folio/folio.jpg"></a>
            <div class="caption">
              <h2><a href="/project/">Fan Art Illustration</a></h2>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="thumbnail">
            <a href="/project/"><img src="/assets/folio/folio.jpg"></a>
            <div class="caption">
              <h2><a href="/project/">Shop Front // Home Illustration</a></h2>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="thumbnail">
            <a href="/project/"><img src="/assets/folio/folio.jpg"></a>
            <div class="caption">
              <h2><a href="/project/">Photography // N. Ireland</a></h2>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="thumbnail">
            <a href="/project/"><img src="/assets/folio/folio.jpg"></a>
            <div class="caption">
              <h2><a href="/project/">Photography // Japan</a></h2>
            </div>
          </div>
        </div>

      </div><!-- row -->

    </div>
  </article>
</section><!-- folio -->