<section id="content">
  <article>
    <div class="col-md-10">

      <div class="row">

        <div class="col-md-3 col-sml-6 col-xs-6">
          <div class="thumbnail">
            <a href="/project/illustration-portraits-clio.html"><img src="/assets/folio/thumb-clio-happy-birthday.jpg"></a>
            <div class="caption">
              <h2><a href="/project/illustration-portraits-clio.html">Illustration // Clio</a></h2>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sml-6 col-xs-6">
          <div class="thumbnail">
            <a href="/project/illustration-portraits-minerva.html"><img src="/assets/folio/thumb-minerva-nerd-in-glasses.jpg"></a>
            <div class="caption">
              <h2><a href="/project/illustration-portraits-minerva.html">Illustration // Minerva</a></h2>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="thumbnail">
            <a href="/project/illustration-portraits-zahrah.html"><img src="/assets/folio/thumb-zahrah.jpg"></a>
            <div class="caption">
              <h2><a href="/project/illustration-portraits-zahrah.html">Illustration // Zahrah</a></h2>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="thumbnail">
            <a href="/project/illustration-murakami.html"><img src="/assets/folio/thumb-murakami.jpg"></a>
            <div class="caption">
              <h2><a href="/project/illustration-murakami.html">Illustration // Haruki Murakami</a></h2>
            </div>
          </div>
        </div>

      </div><!-- row -->

      <div class="row">

        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="thumbnail">
            <a href="/project/illustration-fanart.html"><img src="/assets/folio/thumb-fanart.jpg"></a>
            <div class="caption">
              <h2><a href="/project/illustration-fanart.html">Illustration // Fanart</a></h2>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="thumbnail">
            <a href="/project/illustration-wild-sofa-beasts.html"><img src="/assets/folio/thumb-wsb-cat.jpg"></a>
            <div class="caption">
              <h2><a href="/project/illustration-wild-sofa-beasts.html">Illustration // Wild Sofa Beasts</a></h2>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="thumbnail">
            <a href="/project/illustration-portraits-meredith.html"><img src="/assets/folio/thumb-meredith.jpg"></a>
            <div class="caption">
              <h2><a href="/project/illustration-portraits-meredith.html">Illustration // Meredith</a></h2>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="thumbnail">
            <a href="/project/illustration-portraits-sam.html"><img src="/assets/folio/thumb-sam.jpg"></a>
            <div class="caption">
              <h2><a href="/project/illustration-portraits-sam.html">Illustration // 90's Grudge Girl Sam</a></h2>
            </div>
          </div>
        </div>

      </div><!-- row -->

      <div class="row">

        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="thumbnail">
            <a href="/project/watercolor-calligraphy-wedding-stationery.html"><img src="/assets/folio/thumb-watercolor-wedding-stationery.jpg"></a>
            <div class="caption">
              <h2><a href="/project/watercolor-calligraphy-wedding-stationery.html">Wedding Stationery</a></h2>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="thumbnail">
            <a href="/project/custom-home-shop-front-watercolor-illustrations.html"><img src="/assets/folio/thumb-home-shop-fronts.jpg"></a>
            <div class="caption">
              <h2><a href="/project/custom-home-shop-front-watercolor-illustrations.html">Illustration // Shop &amp; Home Fronts</a></h2>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="thumbnail">
            <a href="/project/illustration-greetinggirls.html"><img src="/assets/folio/thumb-greetinggirls.jpg"></a>
            <div class="caption">
              <h2><a href="/project/illustration-greetinggirls.html">Illustration // Greeting Girls Cards</a></h2>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="thumbnail">
            <a href="/project/design-branding.html"><img src="/assets/folio/thumb-branding.jpg"></a>
            <div class="caption">
              <h2><a href="/project/design-branding.html">Identity &amp; Branding</a></h2>
            </div>
          </div>
        </div>

      </div><!-- row -->

      <div class="row">

        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="thumbnail">
            <a href="/project/design-lettering.html"><img src="/assets/folio/thumb-lettering.jpg"></a>
            <div class="caption">
              <h2><a href="/project/design-lettering.html">Lettering</a></h2>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="thumbnail">
            <a href="/project/illustration-portraits01.html"><img src="/assets/folio/thumb-portrait01.jpg"></a>
            <div class="caption">
              <h2><a href="/project/illustration-portraits01.html">Illustration // Olders Portraits</a></h2>
            </div>
          </div>
        </div>


        <!--
        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="thumbnail">
            <a href="/project/photography-newyork.html"><img src="/assets/folio/thumb-newyork.jpg"></a>
            <div class="caption">
              <h2><a href="/project/photography-newyork.html">Photography // New York</a></h2>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="thumbnail">
            <a href="/project/photography-japan.html"><img src="/assets/folio/thumb-japan.jpg"></a>
            <div class="caption">
              <h2><a href="/project/photography-japan.html">Photography // Japan</a></h2>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="thumbnail">
            <a href="/project/photography-paris.html"><img src="/assets/folio/thumb-paris.jpg"></a>
            <div class="caption">
              <h2><a href="/project/photography-paris.html">Photography // Paris</a></h2>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="thumbnail">
            <a href="/project/photography-northernireland.html"><img src="/assets/folio/thumb-northernireland.jpg"></a>
            <div class="caption">
              <h2><a href="/project/photography-northernireland.html">Photography // Northern Ireland</a></h2>
            </div>
          </div>
        </div>-->

        <!--<div class="col-md-3 col-sm-6 col-xs-6">
          <div class="thumbnail">
            <a href="/project/design-graphic.html"><img src="/assets/folio/thumb-design.jpg"></a>
            <div class="caption">
              <h2><a href="/project/design-graphic.html">Graphic Design Illustration</a></h2>
            </div>
          </div>
        </div>-->

      </div><!-- row -->

    </div>
  </article>
</section><!-- folio -->