<div class="related">
  <hr>
  <h5>You might also like &hellip;</h5>
  <div class="row">
    <div class="col-xs-4 col-sm-4 col-md-4">
      <div class="thumbnail">
        <a href="project.html"><img src="/assets/blog/2015_09/mywork02.jpg"></a>
          <div class="caption">
            <h6><a href="project.html">Creative Spotlight // The Beautiful Designs of Anna Bond of Rifle Paper Co.</a></h6>
          </div>
      </div>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4">
      <div class="thumbnail">
        <a href="project.html"><img src="/assets/blog/2015_09/mywork02.jpg"></a>
          <div class="caption">
            <h6><a href="project.html">Creative Spotlight // Anna Bond of Rifle Paper Co.</a></h6>
          </div>
      </div>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4">
      <div class="thumbnail">
        <a href="project.html"><img src="/assets/blog/2015_09/mywork02.jpg"></a>
          <div class="caption">
            <h6><a href="project.html">Creative Spotlight // The Beautiful Designs of Anna Bond of Rifle Paper Co.</a></h6>
          </div>
      </div>
    </div>
  </div><!-- row -->
</div><!-- related -->
