<section id="rightAside">
  <aside class="col-md-3">

    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search the Blog">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
      </span>
    </div><!-- /input-group -->

    <h3 class="categories">Categories</h3>
    <nav role="navigation">
      <ul class="nav">
        <li class="myWork"><h4><a href="/my-work/">My Work</a></h4></li>
        <li class="freebies"><h4><a href="/freebies/">Freebies</a></h4></li>
        <li class="creativeSpotlight"><h4><a href="/creative-spotlight/">Creative Spotlight</a></h4></li>
        <li class="lovedLinks"><h4><a href="/loved-links/">Loved Links</a></h4></li>
        <li class="wishList"><h4><a href="/wish-list/">Wish List</a></h4></li>
        <li class="monthReview"><h4><a href="/month-in-review/">Month in Review</a></h4></li>
      </ul>
    </nav>

    <div id="tag-cloud">
      <h3><a href="#tags" class="" data-toggle="collapse">Browse <span class="the">the</span> Tags <span class="caret"></span></a></h3>


    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <h3>Browse <span class="the">the</span> Archives <span class="caret"></span></h3>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="#">Febuary 2016</a></li>
        <li><a href="#">January 2016</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">December 2015</a></li>
        <li><a href="#">November 2015</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="/archive.html">View Complete Archives &raquo;</a></li>
      </ul>
    </div><!-- /.dropdown -->

    <h3 class="social"><a href="#">Instagram</a></h3>
    <div class="center">
      <iframe src="http://snapwidget.com/in/?u=YWthaV9oYW5lfGlufDg1fDN8M3x8bm98M3xub25lfG9uU3RhcnR8bm98bm8=&ve=110915" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:264px; height:264px"></iframe>
    </div>

    <h3 class="social"><a href="#">Pinterest</a></h3>
    <div class="text-center pinterest">
      <a data-pin-do="embedUser" href="http://gb.pinterest.com/akaihane/" data-pin-scale-width="78" data-pin-scale-height="300" data-pin-board-width="262">Visit Karen Murray's profile on Pinterest.</a>
    </div>

  </aside><!-- col-md-3 -->

</section><!-- rightAside -->
