<section id="rightAside">
  <aside class="col-md-3">

    <h3 class="categories">Categories</h3>
    <nav role="navigation">
      <ul class="nav">
        <li class="myWork"><h4><a href="/category/my-work/">My Work</a></h4></li>
        <li class="freebies"><h4><a href="/category/freebie/">Freebie</a></h4></li>
        <li class="creativeSpotlight"><h4><a href="/category/creative-spotlight/">Creative Spotlight</a></h4></li>
        <li class="lovedLinks"><h4><a href="/category/loved-links/">Loved Links</a></h4></li>
        <li class="wishList"><h4><a href="/category/wish-list/">Wish List</a></h4></li>
        <li class="monthReview"><h4><a href="/category/month-in-review/">Month in Review</a></h4></li>
      </ul>
    </nav>

    <div id="tag-cloud">
      <h3><a href="#tags" class="" data-toggle="collapse">Browse <span class="the">the</span> Tags <span class="caret"></span></a></h3>
        <div id="tags" class="collapse">
          {% for tag in site.tags %}
            <a href="/tag/{{ tag | first | slugize }}/">
                <span class="label label-default">{{ tag | first }}</span>
            </a>
          {% endfor %}
          <hr>
          <a href="/tag/">Go to Tag Page &raquo;</a>
          <div class="spacer"></div>
        </div>
    </div>

    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <h3>Browse <span class="the">the</span> Archives <span class="caret"></span></h3>
      </button>
      <ul class="dropdown-menu">
        <li><a href="/2016/05/">May 2016</a></li>
        <li><a href="/2016/04/">April 2016</a></li>
        <li><a href="/2016/03/">March 2016</a></li>
        <li><a href="/2016/02/">February 2016</a></li>
        <li><a href="/2016/01/">January 2016</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="/2015/12/">December 2015</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="/archive/">View Complete Archives &raquo;</a></li>
      </ul>
    </div><!--/.dropdown-->

    <!--
    <h3 class="social"><a href="#">Search <span class="the">the</span> Site</a></h3>
    <div class="input-group">
      <script>
        (function() {
          var cx = '008809606368367365436:ijrjcnnlagq';
          var gcse = document.createElement('script');
          gcse.type = 'text/javascript';
          gcse.async = true;
          gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
              '//cse.google.com/cse.js?cx=' + cx;
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(gcse, s);
        })();
      </script>
      <gcse:searchbox-only></gcse:searchbox-only>
    </div>/input-group -->

    <h3 class="social"><a href="https://instagram.com/arosecast/">Instagram</a></h3>
    <div class="center">
      <!-- SnapWidget -->
      <iframe src="http://snapwidget.com/in/?u=YXJvc2VjYXN0fGlufDg0fDN8M3x8bm98NXxub25lfG9uU3RhcnR8eWVzfG5v&ve=011215" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:267px; height:267px"></iframe>
    </div>

    <h3 class="social"><a href="https://www.pinterest.com/arosecast/">Pinterest</a></h3>
    <div class="text-center pinterest">
      <a data-pin-do="embedUser" href="http://gb.pinterest.com/akaihane/" data-pin-scale-width="78" data-pin-scale-height="300" data-pin-board-width="242">Visit Karen Murray's profile on Pinterest.</a>
    </div>

  </aside><!-- col-md-3 -->

</section><!-- rightAside -->
