<section id="content" class="shop">
  <div class="col-md-10 related">
    <hr class="clear">
    <article>
      <h5>You might also like &hellip;</h5>
        <div class="row">

          <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="thumbnail">
              <a href="/project/illustration-wild-sofa-beasts.html"><img src="/assets/folio/thumb-wsb-cat.jpg"></a>
              <div class="caption">
                <h2><a href="/project/illustration-wild-sofa-beasts.html">Wild Sofa Beasts Wooden Brooch</a></h2>
                <p class="price">&pound;10</p>
              </div>
            </div>
          </div>

          <div class="col-md-3 col-sml-6 col-xs-6">
            <div class="thumbnail">
              <a href="/project/illustration-portraits-minerva.html"><img src="/assets/folio/thumb-minerva-nerd-in-glasses.jpg"></a>
              <div class="caption">
                <h2><a href="/project/illustration-portraits-minerva.html">Minerva, Nerd in Glasses, Art Print</a></h2>
                <p class="price">&pound;10</p>
              </div>
            </div>
          </div>

          <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="thumbnail">
              <a href="/project/illustration-portraits-zahrah.html"><img src="/assets/folio/thumb-zahrah.jpg"></a>
              <div class="caption">
                <h2><a href="/project/illustration-portraits-zahrah.html">Zahrah Rose Gold and Wood Necklace</a></h2>
                <p class="price">&pound;10</p>
              </div>
            </div>
          </div>

          <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="thumbnail">
              <a href="/project/illustration-murakami.html"><img src="/assets/folio/thumb-murakami.jpg"></a>
              <div class="caption">
                <h2><a href="/project/illustration-murakami.html">Haruki Murakami After Dark Art Print</a></h2>
                <p class="price">&pound;10</p>
              </div>
            </div>
          </div>

        </div><!-- row -->

    </article>
  </div>
</section><!-- folio -->