{% include shopnav.html %}
<section id="content" class="shop">
    <div class="col-md-10">
      <article>
        <header class="shop">
          <h1>All Products</h1><!--Title changes to reflect shop section-->
        </header>

        <div class="row">

          <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="thumbnail">
              <a href="/project/illustration-wild-sofa-beasts.html"><img src="/assets/folio/thumb-wsb-cat.jpg"></a>
              <div class="caption">
                <h2><a href="/project/illustration-wild-sofa-beasts.html">Wild Sofa Beasts Wooden Brooch</a></h2>
                <p class="price">&pound;10</p>
              </div>
            </div>
          </div>

          <div class="col-md-3 col-sml-6 col-xs-6">
            <div class="thumbnail">
              <a href="/project/illustration-portraits-minerva.html"><img src="/assets/folio/thumb-minerva-nerd-in-glasses.jpg"></a>
              <div class="caption">
                <h2><a href="/project/illustration-portraits-minerva.html">Minerva, Nerd in Glasses, Art Print</a></h2>
                <p class="price">&pound;10</p>
              </div>
            </div>
          </div>

          <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="thumbnail">
              <a href="/project/illustration-portraits-zahrah.html"><img src="/assets/folio/thumb-zahrah.jpg"></a>
              <div class="caption">
                <h2><a href="/project/illustration-portraits-zahrah.html">Zahrah Rose Gold and Wood Necklace</a></h2>
                <p class="price">&pound;10</p>
              </div>
            </div>
          </div>

          <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="thumbnail">
              <a href="/project/illustration-murakami.html"><img src="/assets/folio/thumb-murakami.jpg"></a>
              <div class="caption">
                <h2><a href="/project/illustration-murakami.html">Haruki Murakami After Dark Art Print</a></h2>
                <p class="price">&pound;10</p>
              </div>
            </div>
          </div>

        </div><!-- row -->

        <div class="row">

          <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="thumbnail">
              <a href="/project/illustration-fanart.html"><img src="/assets/folio/thumb-fanart.jpg"></a>
              <div class="caption">
                <h2><a href="/project/illustration-fanart.html">Willow Fanart Greeting Card</a></h2>
                <p class="price">&pound;10</p>
              </div>
            </div>
          </div>

          <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="thumbnail">
              <a href="/project/illustration-portraits-meredith.html"><img src="/assets/folio/thumb-meredith.jpg"></a>
              <div class="caption">
                <h2><a href="/project/illustration-portraits-meredith.html">Nautical Meredith Art Print</a></h2>
                <p class="price">&pound;10</p>
              </div>
            </div>
          </div>

          <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="thumbnail">
              <a href="/project/illustration-portraits-sam.html"><img src="/assets/folio/thumb-sam.jpg"></a>
              <div class="caption">
                <h2><a href="/project/illustration-portraits-sam.html">90's Grudge Girl Sam Art Print</a></h2>
                <p class="price">&pound;10</p>
              </div>
            </div>
          </div>

          <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="thumbnail">
              <a href="/project/illustration-greetinggirls.html"><img src="/assets/folio/thumb-greetinggirls.jpg"></a>
              <div class="caption">
                <h2><a href="/project/illustration-greetinggirls.html">Clio Happy Birthday Greeting Card</a></h2>
                <p class="price">&pound;10</p>
              </div>
            </div>
          </div>

        </div><!-- row -->

    </article>
  </div>
</section><!-- folio -->