<section id="content">
  <article>
    <div class="col-md-10 related">
      <h5>You might also like &hellip;</h5>
      <div class="row">

        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="thumbnail">
            <a href="/project/illustration-murakami.html"><img src="/assets/folio/thumb-murakami.jpg"></a>
            <div class="caption">
              <h2><a href="/project/illustration-murakami.html">Haruki Murakami Print</a></h2>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sml-6 col-xs-6">
          <div class="thumbnail">
            <a href="/project/illustration-portraits-minerva.html"><img src="/assets/folio/thumb-minerva-nerd-in-glasses.jpg"></a>
            <div class="caption">
              <h2><a href="/project/illustration-portraits-minerva.html">Minerva Necklace</a></h2>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="thumbnail">
            <a href="/project/illustration-portraits-zahrah.html"><img src="/assets/folio/thumb-zahrah.jpg"></a>
            <div class="caption">
              <h2><a href="/project/illustration-portraits-zahrah.html">Zahrah Necklace</a></h2>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="thumbnail">
            <a href="/project/illustration-murakami.html"><img src="/assets/folio/thumb-murakami.jpg"></a>
            <div class="caption">
              <h2><a href="/project/illustration-murakami.html">Haruki Murakami Print</a></h2>
            </div>
          </div>
        </div>

      </div><!-- row -->

    </div>
  </article>
</section><!-- folio -->