<section id="sideNav">
  <aside class="col-md-2">
    <h1 class="hidden-xs"><a href="/index.html"><img src="/assets/graphics/arosecast.jpg"></a></h1>


    {% assign current = page.url | downcase | split: '/' %}
    <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="home.html">
          <img class="visible-xs" alt="Brand" src="/assets/graphics/logo_mobilenav.png">
        </a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav nav-stacked">
          <li class="mywork"><a href="/index.html" {% if current[1] == '' %}class='active'{% endif %}>My Work</a></li>
          <li class="about"><a href="/about/" {% if current[1] == 'about' %}class='active'{% endif %}>About</a></li>
          <li class="contact"><a href="/work-with-me/" {% if current[1] == 'work-with-me' %}class='active'{% endif %}>Work With Me</a></li>
          <li class="blog"><a href="/blog/" {% if current[1] == '' %}class='active'{% endif %}>Blog</a></li>
          <li class="etsy"><a href="/etsy/" {% if current[1] == 'etsy' %}class='active'{% endif %}>Etsy</a></li>
          <li class="society6"><a href="/society6/" {% if current[1] == 'society6' %}class='active'{% endif %}>Society6</a></li>
        </ul>

        <ul class="socialNav nav nav-pills">
          <li role="presentation" class="twitter"><a href="https://twitter.com/arosecast" target="_blank">Twitter</a></li>
          <li role="presentation" class="facebook"><a href="https://www.facebook.com/Akaihane-211068368924011/timeline/" target="_blank">FB</a></li>
          <li role="presentation" class="tumblr"><a href="http://arosecast.tumblr.com" target="_blank">tumblr</a></li>
          <li role="presentation" class="pinterest"><a href="https://www.pinterest.com/arosecast/" target="_blank">Pinterest</a></li>
          <li role="presentation" class="instagram"><a href="https://instagram.com/arosecast/" target="_blank">Instagram</a></li>
        </ul>

      </div><!-- /.navbar-collapse -->
    </nav>

  </aside>
</section><!-- sideNav -->
