---
layout: default
title: Blog
---

<section id="content">
  <div class="col-md-7">

    {% for post in paginator.posts %}

      <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
        <header class="post-header">
          <h1 class="post-title" itemprop="name headline"><a href="{{ post.url }}">{{ post.title }}</a></h1>
          <p class="date"><span>Published</span> // <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%-d %B, %Y" }}</time> &nbsp;|&nbsp; <span>Column</span> // <a href="#">{{ post.categories }}</a></p>
        </header>

        <div class="post-content" itemprop="articleBody">
          <img src="{{ post.image }}" alt="{{post.alt}}">
          {{ post.content }}
          <hr>
          <p class="shareButtons text-center">
            <span class="share">Liked this? Please share it!</span><a href="#" class="share pinterest"></a><a href="#" class="share facebook"></a><a href="#" target="_blank" class="share twitter"></a>
          </p>
          <hr>
          {% include categoryblurb.html %}
        </div>

        {% include related.html %}
        <footer>
          <div class="row">
            <div class="col-md-8">
              <p class="tags">
                <strong>Tags</strong> // <a href=""><span class="label label-default">{{ post.tags }}</span></a>
              </p>
            </div>
            <div class="col-md-4">
              <p class="comments">
                <span>33</span> <strong>Comments</strong>
              </p>
            </div>
          </div>
        </footer>

      </article>
      <hr>

    {% endfor %}

    <!-- Pagination links -->
    <div class="pagination">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
      {% else %}
        <span class="previous">Previous</span>
      {% endif %}
      <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="next">Next</a>
      {% else %}
        <span class="next ">Next</span>
      {% endif %}
    </div>

  </div>
</section><!-- content -->
{% include rightaside.html %}
