---
layout: default
title: Blog Archive
group: navigation
---

<section id="content">
  <div class="col-md-7">

    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
      <header class="post-header">
        {% case page.type %}
        {% when 'year' %}
          <h1 class="post-title">{{ page.date | date: "%Y" }}</h1>
        {% when 'month' %}
          <h1 class="post-title">{{ page.date | date: "%B %Y" }}</h1>
        {% when 'day' %}
          <h1 class="post-title">{{ page.date | date: "%B %-d, %Y" }}</h1>
        {% else %}
          <h1 class="post-title">{{ page.title }}</h1>
        {% endcase %}
      </header>

      <p></p>
      
      <div class="row">
        {% for post in page.posts %}
          <div class="col-md-4 col-sm-4 col-xs-4 archive">
            <div class="thumbnail">
              <a href="{{ post.url }}"><img src="{{ post.image }}" alt="{{post.alt}}"></a>
              <div class="caption">
                <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>

    </article>

  </div>
</section><!-- content -->

{% include rightaside.html %}
