---
layout: default
---

<section id="content">
  <div class="col-md-7">

    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
      {% include blogheader.html %}

      <div class="post-content" itemprop="articleBody">
        <!--<img src="{{ page.image }}" alt="{{page.alt}}">-->
        {{ content }}
        {% include share.html %}
        {% include cblurb-mywork.html %}
      </div>

      {% include related.html %}
      {% include blogfooter.html %}

    </article>

      <hr class="divider">
    </div>
  </section><!-- content -->

  {% include rightaside.html %}