<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <a href="javascript:" id="return-to-top"><i class="glyphicon glyphicon-chevron-up"></i></a>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <nav class="shop-navigation"> 
            <ul>
              <li class="shop">Shop //</li>
              <li><a href="">All Products</a></li>
              <li><a href="">Necklaces</a></li>
              <li><a href="">Brooches</a></li>
              <li><a href="">Art Prints</a></li>
              <li><a href="">Stationery</a></li>
            </ul>
          </nav>
        </div>
        {% include sidenav.html %}

        <section id="project">
          <div class="col-md-7">
            {{content}}
              {% for bloglink in page.bloglink %}
                <p class="right"><a href="{{ bloglink }}">Find out more on the blog &raquo;</a></p>
              {% endfor %}
          </div>
        </section>

        <section id="rightAside">
          <aside class="col-md-3">
            <h3>{{page.title}}</h3>
            <p>{{page.description}}</p>

            {% if page.etsylink %}
            <div class="highlight etsy">
              <a href="{{page.etsylink}}">Buy <span class="the">on</span> <img src="../assets/graphics/etsy.png" alt="Etsy" title="Etsy"></a>
            </div>
            {% endif %}

            <h4>You can also buy this design on apparel, homewares, cushions, mugs and more on the following sites</h4>

            <div class="row">
              <div class="col-md-4">
                <a href="{{page.s6link}}" title="Buy {{page.title}} on Society6"><img src="../assets/graphics/society6.png" alt="Society6" title="Buy {{page.title}} on Society6"></a>
              </div>
              <div class="col-md-4">
                <a href="{{page.rblink}}" title="Buy {{page.title}} on RedBubble"><img src="../assets/graphics/redbubble.png" alt="RedBubble" title="Buy {{page.title}} on RedBubble"></a>
              </div>
              <div class="col-md-4">
                <a href="{{page.arlink}}" title="Buy {{page.title}} on Art Rookie"><img src="../assets/graphics/art-rookie.png" alt="Art Rookie" title="Buy {{page.title}} on Art Rookie"></a>
              </div>
            </div><!-- row -->

            <hr>

            <h4>Know someone who might like this? Please share!</h4>
            <span class='st_twitter_large' displayText='Tweet'></span>
            <span class='st_facebook_large' displayText='Facebook'></span>
            <span class='st_pinterest_large' displayText='Pinterest'></span>
            <span class='st_googleplus_large' displayText='Google +'></span>
            <span class='st_tumblr_large' displayText='Tumblr'></span>
            <span class='st_email_large' displayText='Email'></span>

          </aside>

        <hr class="clear">
        </section>

      </div><!-- row -->

      <div class="row">

        <section div="sideNav">
          <aside class="col-md-2">
          </aside>
        </section>
        {% include shop-related.html %}
      </div><!-- row -->

      <hr>

    {% include footer.html %}

  </body>

<!--Share Code-->
<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "3de5b15a-8c9b-4f92-962f-dc430083ed4d", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>

</html>
